<!-- Modal -->
<button class="btn btn-success" data-toggle="modal" data-target="#addRoleModal">
  <i class="fas fa-plus"></i> Thêm
</button>

<table class="table">
  <thead>
    <tr>
      <th>Tên</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cate of dataCate | paginate: { itemsPerPage: 5, currentPage: p }">
      <td>{{ cate.name }}</td>
      <td>
        <button class="btn btn-primary" data-toggle="modal" data-target="#updateRoleModal" (click)="GetProvinceById(cate.id)">Sửa</button>
        <button class="btn btn-danger" (click)="DeleteProvince(cate.id)">Xóa</button>
      </td>
    </tr>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    <tr *ngIf="!dataCate">
      Không có dữ liệu
    </tr>
  </tbody>
</table>

<div class="modal fade" id="addRoleModal" tabindex="-1" role="dialog" aria-labelledby="addRoleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addRoleModalLabel">Thêm Tỉnh Mới</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Form để nhập dữ liệu mới -->
        <form (ngSubmit)="CreateProvince(selectedCate)">
          <div class="form-group">
            <label for="roleName">Tên:</label>
            <input type="text" class="form-control" id="roleName" [(ngModel)]="selectedCate.name" name="RoleName">
          </div>
          <button type="submit" class="btn btn-primary">Thêm</button>
        </form>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateRoleModal" tabindex="-1" role="dialog" aria-labelledby="updateRoleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateRoleModalLabel">Cập nhật Tỉnh</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Form để nhập dữ liệu mới -->
        <form (ngSubmit)="UpdateProvince(idUpdate,selectedCate)">
          <div class="form-group">
            <label for="roleName">Tên:</label>
            <input type="text" class="form-control" id="roleName" [(ngModel)]="selectedCate.name" name="RoleName" >
          </div>

          <button type="submit" class="btn btn-primary">Sửa</button>
        </form>
      </div>
    </div>
  </div>
</div>

