.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .header {
    height: 60px;
    padding: 8px 8px 8px 16px;
    background: #bba9fa;
    box-sizing: border-box;
    font-size: 1.2em;
    line-height: 44px;
    color: white;
  }

  app-webviewer {
    flex: 1;
    margin: 8px;
    -webkit-box-shadow: 1px 1px 10px #999;
    box-shadow: 1px 1px 10px #999;
  }

  .viewer { width: 100%; height: 700px; max-height: 700px; }

  button {
    background-color: #937cfb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
    float: right;
    font-size: 15px;
  }

  button:hover {
    background-color: #0056b3;
  }

  input[type="text"]:focus {
    border-color: white; /* Thay đổi màu viền khi được focus */
    outline: none; /* Loại bỏ viền outline mặc định */
  }

  input[type="text"] {
    height: 35px;
    margin-left: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
