<div class="container">
  <div class="mb-3">
    <button class="btn btn-success">
      <i class="fas fa-plus"></i> Thêm
    </button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Nhà Tuyển Dụng</th>
        <th>Tỉnh</th>
        <th>Ngày Tạo</th>
        <th>Trạng Thái</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of data | paginate: { itemsPerPage: 5, currentPage: p }">
        <td>{{ user.fullName }}</td>
        <td>{{ user.provinceName }}</td>
        <td>{{ user.registerDate }}</td>
        <td>
          <span [ngSwitch]="user.status">
            <span *ngSwitchCase="0" class="text-danger"><b>Bị Từ Chối</b></span>
            <span *ngSwitchCase="1" class="text-info"><b>Đang Chờ</b></span>
            <span *ngSwitchCase="2" class="text-success"><b>Đã Xác Nhận</b></span>
            <span *ngSwitchCase="3" class="text-success">Đã Xác Nhận</span>
          </span>
        </td>
        <td [ngSwitch]="user.status">
          <div *ngSwitchCase="1" class="btn-group" role="group">
            <button class="btn btn-danger" (click)="handleAccept(user.id,2)">Chấp nhận</button>
            <button class="btn btn-primary" (click)="handleAccept(user.id,1)">Từ chối</button>
          </div>
          <div *ngSwitchCase="2" class="btn-group" role="group">
            <button class="btn btn-primary" (click)="handleAccept(user.id,1)">Từ chối</button>
          </div>
          <div *ngSwitchCase="0" class="btn-group" role="group">
            <button class="btn btn-danger" (click)="handleAccept(user.id,2)">Chấp nhận</button>
          </div>
        </td>
      </tr>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
      <tr *ngIf="!data">
        Không có dữ liệu
      </tr>
    </tbody>
  </table>
</div>
