<div class="login-container">
  <h4>Login</h4>
  <div>
    Email:
    <input [(ngModel)]="user.email" placeholder="Email" type="text">
  </div>
  <div>
    Password:
    <input [(ngModel)]="user.password" placeholder="Password" type="password">
  </div>
  <div class="remember-me">
    <label>
      <input [(ngModel)]="user.rememberMe" type="checkbox"> Remember Me
    </label>
  </div>
  <button (click)="login()">Login</button>
  <h6>Nếu bạn chưa có tài khoản thì <a routerLink="/register">Đăng Ký</a></h6>

  <div class="mx-3 my-2 py-2 bordert">
    <div class="text-center py-3">
        <a href="https://wwww.facebook.com" target="_blank" class="px-2"> <img src="https://scontent.fhan14-4.fna.fbcdn.net/v/t39.30808-1/380700650_10162533193146729_2379134611963304810_n.jpg?stp=cp0_dst-jpg_p60x60&_nc_cat=1&ccb=1-7&_nc_sid=596444&_nc_eui2=AeFfkK6jZ-7mye74h3vjMBeOtjWzO19RVKS2NbM7X1FUpHh7nDyDCrVi8U_yLC4TJEN2wEjShfqpgjXUjxnp9pP4&_nc_ohc=VUNg8JMxAI8AX_VejWn&_nc_ht=scontent.fhan14-4.fna&oh=00_AfCOZhkZ-3HBLR9xjVX6XKI3FKilX-5t3tytQwiFS8EcxA&oe=65DBB84E" alt=""> </a>
        <a href="https://www.google.com" target="_blank" class="px-2"> <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png" alt=""> </a>
        <a href="https://www.github.com" target="_blank" class="px-2"> <img src="https://www.freepnglogos.com/uploads/512x512-logo-png/512x512-logo-github-icon-35.png" alt=""> </a>
    </div>
</div>
</div>
