<!-- Modal -->
<style>
  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    padding: 0 16px !important;
}
</style>
<button class="btn btn-success" data-toggle="modal" data-target="#addRoleModal">
  <i class="fas fa-plus"></i> Thêm
</button>

<table class="table">
  <thead>
    <tr>
      <th>Tên</th>
      <th>Ngày Tạo</th>
      <th>Tỉnh</th>
      <th>Thời Gian</th>
      <th>Kỹ Năng</th>
      <th>Tiêu Đề</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cate of dataCate">
      <td>{{ cate.name }}</td>
      <td>{{ cate.createdate | date: 'dd/MM/yyyy' }}</td>
      <td>{{ cate.province }}</td>
      <td>{{ cate.time }}</td>
      <td>{{ cate.skills }}</td>
      <td>{{ cate.title }}</td>

      <td>
        <button class="btn btn-primary" data-toggle="modal" data-target="#updateRoleModal" (click)="GetJobsById(cate.id)">Xem</button>
        <button class="btn btn-danger">Xóa</button>
      </td>
    </tr>
    <tr *ngIf="dataCate.length === 0">
      <td colspan="6">Không có dữ liệu</td>
    </tr>
  </tbody>
</table>

<div class="modal fade" id="addRoleModal" tabindex="-1" role="dialog" aria-labelledby="addRoleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addRoleModalLabel">Thêm Bài Tuyển Dụng Mới</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="CreateJobs(id,createjob)">
          <!-- Tab links -->
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1" aria-selected="true">Tổng Quan</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2" aria-selected="false">Giới Thiệu</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tab3" type="button" role="tab" aria-controls="tab3" aria-selected="false">Mục Tiêu Đối Tượng</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="tab4-tab" data-bs-toggle="tab" data-bs-target="#tab4" type="button" role="tab" aria-controls="tab4" aria-selected="false">Kinh Nghiệm</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="tab5-tab" data-bs-toggle="tab" data-bs-target="#tab5" type="button" role="tab" aria-controls="tab5" aria-selected="false">Miêu Tả</button>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
              <!-- Content for Tab 1 -->
              <div class="form-group">
                <label for="skillName">Name:</label>
                <input type="text" class="form-control" [(ngModel)]="createjob.name" id="Name" name="Name" required>
              </div>
              <div style="display: flex;">
                <div class="form-group">
                  <label for="skillLogo">Min salary:</label>
                  <input type="text" class="form-control" [(ngModel)]="createjob.minSalary" id="Minsalary" name="Minsalary" required>
                </div>
                <div class="form-group col">
                  <label for="skillLogo">Max salary:</label>
                  <input type="text" class="form-control" [(ngModel)]="createjob.maxSalary" id="Maxsalary" name="Maxsalary" required>
                </div>
              </div>
              <div class="form-group">
                <label for="skillLogo" class="form-label">Province:</label>
                <select class="form-select" [(ngModel)]="createjob.provinceId" name="provinceId">
                  <option *ngFor="let option of apiprovince" [value]="option.id">{{ option.name }}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="skillLogo" class="form-label">Time:</label>
                <select class="form-select" [(ngModel)]="createjob.timeId" name="time">
                  <option *ngFor="let option of apitime" [value]="option.id">{{ option.name }}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="skillLogo" class="form-label">Skill:</label>
                <ng-select class="custom" [multiple]="true" [(ngModel)]="createjob.skillIds" placeholder="Select Skill" name="skill">
                  <ng-option *ngFor="let car of apiskill" [value]="car.id" [disabled]="car.disabled">{{car.name}}</ng-option>
              </ng-select>
              </div>
              <div class="form-group">
                <label for="skillLogo" class="form-label">Title:</label>
                <select class="form-select" [(ngModel)]="createjob.titleId" name="titleId">
                  <option *ngFor="let option of apititle" [value]="option.id">{{ option.name }}</option>
                </select>
              </div>
            </div>

            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
              <!-- Content for Tab 2 -->
              <div class="form-group">
                <label for="skillLogo" class="form-label">Giới thiệu</label>
                <ckeditor [(ngModel)]="createjob.introduce" [editor]="Editor" name="introduce" ></ckeditor>
              </div>

            </div>
            <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
              <!-- Content for Tab 3 -->
              <label for="skillLogo" class="form-label">Mục tiêu đối tượng</label>
              <ckeditor [(ngModel)]="createjob.objectTarget" [editor]="Editor" name="objectTarget"></ckeditor>
            </div>
            <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
              <!-- Content for Tab 4 -->
              <label for="skillLogo" class="form-label">Kinh Nghiệm</label>
              <ckeditor [(ngModel)]="createjob.experience" [editor]="Editor" name="experience"></ckeditor>
            </div>
            <div class="tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="tab5-tab">
              <!-- Content for Tab 4 -->
              <label for="skillLogo" class="form-label">Miêu Tả</label>
              <ckeditor [(ngModel)]="createjob.description" [editor]="Editor" name="description"></ckeditor>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Thêm</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="updateRoleModal" tabindex="-1" role="dialog" aria-labelledby="updateRoleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addRoleModalLabel">Thêm Bài Tuyển Dụng Mới</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="UpdateJobs(idUpdate,createjob)">
          <!-- Tab links -->
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="tab6-tab" data-bs-toggle="tab" data-bs-target="#tab6" type="button" role="tab" aria-controls="tab6" aria-selected="true">Tổng Quan</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="tab7-tab" data-bs-toggle="tab" data-bs-target="#tab7" type="button" role="tab" aria-controls="tab7" aria-selected="false">Giới Thiệu</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="tab8-tab" data-bs-toggle="tab" data-bs-target="#tab8" type="button" role="tab" aria-controls="tab8" aria-selected="false">Mục Tiêu Đối Tượng</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="tab9-tab" data-bs-toggle="tab" data-bs-target="#tab9" type="button" role="tab" aria-controls="tab9" aria-selected="false">Kinh Nghiệm</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="tab10-tab" data-bs-toggle="tab" data-bs-target="#tab10" type="button" role="tab" aria-controls="tab10" aria-selected="false">Miêu Tả</button>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab6" role="tabpanel" aria-labelledby="tab6-tab">
              <!-- Content for Tab 1 -->
              <div class="form-group">
                <label for="skillName">Name:</label>
                <input type="text" class="form-control" [(ngModel)]="createjob.name" id="Name" name="Name" required>
              </div>
              <div style="display: flex;">
                <div class="form-group">
                  <label for="skillLogo">Min salary:</label>
                  <input type="text" class="form-control" [(ngModel)]="createjob.minSalary" id="Minsalary" name="Minsalary" required>
                </div>
                <div class="form-group col">
                  <label for="skillLogo">Max salary:</label>
                  <input type="text" class="form-control" [(ngModel)]="createjob.maxSalary" id="Maxsalary" name="Maxsalary" required>
                </div>
              </div>
              <div class="form-group">
                <label for="skillLogo" class="form-label">Province:</label>
                <select class="form-select" [(ngModel)]="createjob.provinceId" name="provinceId">
                  <option *ngFor="let option of apiprovince" [value]="option.id">{{ option.name }}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="skillLogo" class="form-label">Time:</label>
                <select class="form-select" [(ngModel)]="createjob.timeId" name="time">
                  <option *ngFor="let option of apitime" [value]="option.id">{{ option.name }}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="skillLogo" class="form-label">Skill:</label>
                <ng-select class="custom" [multiple]="true" [(ngModel)]="createjob.skillIds" placeholder="Select Skill" name="skill">
                  <ng-option *ngFor="let car of apiskill" [value]="car.id" [disabled]="car.disabled">{{car.name}}</ng-option>
              </ng-select>
              </div>
              <div class="form-group">
                <label for="skillLogo" class="form-label">Title:</label>
                <select class="form-select" [(ngModel)]="createjob.titleId" name="titleId">
                  <option *ngFor="let option of apititle" [value]="option.id">{{ option.name }}</option>
                </select>
              </div>
            </div>

            <div class="tab-pane fade" id="tab7" role="tabpanel" aria-labelledby="tab7-tab">
              <!-- Content for Tab 2 -->
              <div class="form-group">
                <label for="skillLogo" class="form-label">Giới thiệu</label>
                <ckeditor [(ngModel)]="createjob.introduce" [editor]="Editor" name="introduce" ></ckeditor>
              </div>

            </div>
            <div class="tab-pane fade" id="tab8" role="tabpanel" aria-labelledby="tab8-tab">
              <!-- Content for Tab 3 -->
              <label for="skillLogo" class="form-label">Mục tiêu đối tượng</label>
              <ckeditor [(ngModel)]="createjob.objectTarget" [editor]="Editor" name="objectTarget"></ckeditor>
            </div>
            <div class="tab-pane fade" id="tab9" role="tabpanel" aria-labelledby="tab9-tab">
              <!-- Content for Tab 4 -->
              <label for="skillLogo" class="form-label">Kinh Nghiệm</label>
              <ckeditor [(ngModel)]="createjob.experience" [editor]="Editor" name="experience"></ckeditor>
            </div>
            <div class="tab-pane fade" id="tab10" role="tabpanel" aria-labelledby="tab10-tab">
              <!-- Content for Tab 4 -->
              <label for="skillLogo" class="form-label">Miêu Tả</label>
              <ckeditor [(ngModel)]="createjob.description" [editor]="Editor" name="description"></ckeditor>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Sửa</button>
        </form>
      </div>
    </div>
  </div>
</div>
